name: CI Pipeline

on: [push, pull_request, workflow_dispatch]

jobs:
  lint:
    name: Lint everything

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: npm ci

      - name: Run the linter
        run: npm run lint

  build:
    name: Build everything

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: npm ci

      - name: Run build scripts
        run: npm run build

  e2e:
    name: End-to-End Tests

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: npm ci

      - name: Run e2e tests
        run: |
          docker compose -f server/docker-compose.ci.yaml build
          cp server/.env.ci server/.env
          docker compose -f server/docker-compose.ci.yaml up -d
          npm run test:e2e -w=server
          docker compose -f server/docker-compose.ci.yaml down
